.buttons-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  column-gap: 20px;
  background-color: var(--mainColor);
}

.search-button, .lucky-button{
  padding: 10px 25px;
  cursor: pointer;
  background-color: var(--secondColor);
  color: white;
  border: none;
  outline: none;
}