.buttons-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  column-gap: 20px;
  background-color: #101218;
}

.search-button, .lucky-button{
  padding: 10px 25px;
  cursor: pointer;
  background-color: #222b4a;
  color: white;
  border: none;
  outline: none;
}

.search-button:hover, .lucky-button:hover{
  opacity: 0.8;
}