.header-container{
  display: flex;
  padding: 10px;
  background-color: #101218;
  color:white;
}

.header-text{
  font-size: 1.1rem;
}

.header-left-container{
  width: 50%;
  display: flex;
  align-items: flex-end;
  column-gap: 10px;
}

.header-right-container{
  width: 50%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  column-gap: 20px;
}

.header-icon{
  width: 1.5rem;
  cursor: pointer;
}

.header-icon:hover,.user-image:hover{
  opacity: 0.6;
}

.user-image{
  width: 2rem;
  border: 1px solid black;
  border-radius: 50%;
  cursor: pointer;
}