.languages-container{
  display: flex;
  justify-content: center;
  column-gap: 7px;
}


.languages-container p{
  font-size: 0.9rem;
  color: blue;
  cursor: pointer;
}

.languages-container p:first-child{
  color:black;
  font-size: 1.1rem;
};
