.languages-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 7px;
  background-color: var(--mainColor);
}


.languages-container p{
  font-size: 0.9rem;
  color: blue;
  cursor: pointer;
}

.languages-container p:first-child{
  color:white;
  font-size: 1.1rem;
};
