.search-main-container{
  height: 50dvh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  row-gap: 10px;
  color: white;
  background-color: var(--mainColor);
}

.search-main-text{
  font-family: Arial, sans-serif;
  padding: 10px;
  font-size: 5.2rem;
}

.search-container{
  width: 45%;
  border: 2px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 25px;
  padding: 0 20px;
  background-color: var(--secondColor);
}

.search-box{
  background-color: var(--secondColor);
  color: white;
  width: 80%;
  padding: 12px;
  font-size: 1.2rem;
  border: none;
  outline: none;
}

.search-icon{
  width:1.8rem;
  color: white;
}

.icons-container{
  width: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 0 15px;
}
